<!-- Header with Navbar -->
<header class="bg-dark text-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ path('homepage') }}">TroskiShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Encuentra tu producto">
                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == "all-catalog" %} active {% endif %}" href="{{ path('homepage') }}">Todos los Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == "laptop-catalog" %} active {% endif %}" href="#">Portátiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == "desktop-catalog" %} active {% endif %}" href="#">Sobremesa</a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle {% if active_page == "peripheral-catalog" %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Periféricos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Ratones</a></li>
                            <li><a class="dropdown-item" href="#">Teclados</a></li>
                            <li><a class="dropdown-item" href="#">Monitores</a></li>
                        </ul>

                    </li>
                </ul>
                <ul class="navbar-nav ms-3">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                                <i class="fas fa-user"></i> {{ app.user.appUser.name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
                                <li><a class="dropdown-item" href="#">Mis pedidos</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <i class="fas fa-user"></i> Login
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge bg-warning text-dark ms-1">{% if shoppingCartProducts is defined  %}{{ shoppingCartProducts|length }}{% else %}0{% endif %}</span>
                        </a>
                        {% include 'front_pages/cart/dropdown-cart.html.twig' %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>