<div class="col-12 col-md-3">
    <aside class="sidebar">
        <h4>Filtros</h4>
        <form hx-post="{{ path('products') }}" hx-swap="innerHTML" hx-target="#products" hx-indicator="#loader-products">
            <div class="mb-3">
                <h5>Buscar por Nombre</h5>
                <input type="text" class="filters form-control" name="name" placeholder="Nombre del producto">
            </div>
            <div class="mb-3">
                <h5>Categoría</h5>
                <select class="filters form-select" name="category" aria-label="Select category">
                    <option value="" selected>Selecciona una categoría</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }} ({{ category.total }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <h5>Marca</h5>
                <select class="filters form-select" name="brand" aria-label="Select category">
                    <option value="" selected>Selecciona una Marca</option>
                    {% for brand in brands %}
                        <option value="{{ brand.name }}">{{ brand.name }} ({{ brand.total }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <h5>Rango de Precio</h5>
                <input type="number" class="filters form-control" name="priceMin" placeholder="Mínimo" aria-label="Min price">
                <input type="number" class="filters form-control mt-2" name="priceMax" placeholder="Máximo" aria-label="Max price">
            </div>
            <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
        </form>
    </aside>
</div>
