<div class="cart-item">
    <img src="{{ asset(shoppingCartProduct.product.image) }}" alt="Producto 1">
    <div class="cart-item-details">
        <h5>{{ shoppingCartProduct.product.name }}</h5>
        <p class="text-muted">{{ shoppingCartProduct.product.description }}</p>
    </div>
    <div class="cart-item-price">{{ shoppingCartProduct.product.price }} €</div>
    <div class="cart-item-quantity">{{ shoppingCartProduct.quantity }}</div>
    <div class="cart-item-total">{{ shoppingCartProduct.totalPrice }} €</div>
    <div class="cart-item-remove">
        <i class="fas fa-trash"></i>
    </div>
</div>